
html, body{
	width: 100%;
	height: auto;
	background-color: #EDF9EC;
}

header{
	display: inline-block;
	height: auto;
	width: auto;
	z-index: 101;
	position: fixed;
	color: white;
	margin-left: 10px;
	line-height: 40px;	
	display: none;
}
header img,header label{ vertical-align: middle;}

nav{		
	top: 0;
	height: auto;
	width: 100%;
	text-align: right;
	color: white;
	background-color: rgb(90,90,90);
	position: fixed;
	z-index: 100;
	display: block;
}
nav ul{
	list-style-type: none; 
	float: right;
	margin: 0;	
}
nav li{
	display: inline-block;
	position: relative;
	padding: 15px;
	float: left;
	font-family: Century Gothic, sans-serif;
	font-size: 1.1em;
	color: black;
}
nav li:hover{
	color: white;
	cursor: pointer;
}
nav li:hover  a{ color: white; }
nav ul li a{ text-decoration: none; color: black;}
nav ul li a:hover{ color: white;}
.show {
  box-shadow: inset -2px 0 3px rgba(black,0.6);
  max-height: 15em;
}
.nav-toggle{display: none;}
.fixed{
	position: fixed;
	top: 0;
}

footer{
	background-color: rgb(82,82,82);
	padding-top: 15px;
	padding-bottom: 15px;
	text-align: center;
	color: white;
	font-family: Century Gothic, sans-serif;
}

#facebook, #twitter, #github, #rss, #blog{
	position: fixed;
	right: 0;	
	width: 4%;
	height: 6%;
	transition:width 0.5s;
	-moz-transition:width 0.5s;
	-webkit-transition:width 0.5s;
	z-index: 101;
}
#facebook img, #twitter img, #github img, #rss img, #blog img{width: auto;}
#facebook:hover, #twitter:hover, #github:hover, #rss:hover, #blog:hover{width: 10%; cursor:pointer;}
#facebook:hover img, #twitter:hover img, #github:hover img, #rss:hover img, #blog:hover img{width: auto%;}
#facebook{background-color: #4a6ea9;top: 34%;}
#twitter{background-color: #32def4;top: 40%;}
#github{background-color: #3b3b3b;top: 46%;}
#rss{background-color: #f4b83f;top: 52%;}
#blog{background-color: #8d8d8d;top: 58%;}

#inicio{ background-color: rgb(217,222,224); }
#quienes{ background-color: #4ba3a8; }
#miembros{ background-color: #bec465; }
#investigacion{ background-color: rgb(230,230,230); }
#contacto{ background-color: #EDF9EC; }

/*----------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------PAGINA UNO--------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------*/
#page_one{
	display: block;
	background-image: url('../img/pageOne.png');
	padding-top: 100px;
	padding-bottom: 60px;
}
#page_one img{
	width: 40%;
	vertical-align: top;
	display: inline-block;
	margin-left: 10%;
}
#page_one h1{
	font-size: 4em;
	display: inline-block;
	width: 40%;
	margin-top: 50px;
	font-family: Century Gothic, sans-serif;
	color: rgb(90,90,90);
}

/*----------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------PAGINA DOS--------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------*/
#page_two{
	display: block;
	background-color: #4ba3a8;	
	padding-top: 100px;
	padding-bottom: 100px;	
}
#page_two p{
	color: white;
	width: 40%;
	margin-left: 100px;
	margin-top: 50px;
	font-size: 2em;
	font-family: Century Gothic, sans-serif;
	display: inline-block;
}
#page_two div{
	display: inline-block;
	width: 45%;
	vertical-align: top;
	margin-top: -100px;
}
#page_two img{	
	display: inline-block;
	width: 100%;
	vertical-align: top;
}
/*----------------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------PAGINA TRES--------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------*/
#page_tree{
	display: block;
	background-color: #bec465;
	padding-top: 100px;
	padding-bottom: 100px;
}

#member-list {
	font-family: Consolas, monaco, monospace;
	width: 35%;
	margin-left: 100px;
	margin-top: 50px;
	font-size: 1.2em;
	display: inline-block;
}
#member-list ul{
	list-style-type: none;
	margin-top: 5px;
}
#member-list div {width: auto;}
#member-list h4{margin-top: 10px;}
#members-student, #members-engineer{
	float: left;
	margin-left: 20px;
	margin-top: 20px;
}
#member-list a{
	text-decoration: none;
	color: black;
}
#members{
	display: inline-block;
	width: 45%;
	vertical-align: top;
	margin-top: -50px;
}
#members img{	
	display: inline-block;
	width: 100%;
	vertical-align: top;
}


#fondoBlanco, #fondo{
	width: 40%;
	height: 100%;
	margin-left: 10%;		
	position: absolute;	
	background-color: white;	
}
#fondoBlanco{opacity: 0.7;}
#fondo{ padding-left: 5%; padding-top: 8%;}
#fondo form input.texto {	
	border: darkgray;
	border-style: solid;
	border-width: 1px;		
	padding-bottom: 1%;	
	padding-top: 1%;
	width: 80%;	
	font-family: arial,sans-serif;
	display: block;
	position: relative;
}
#fondo form textearea{ 
	border: darkgray;
	border-style: solid;
	border-width: 1px;			
	width: 80%;	
	height: 30%;
	font-family: arial,sans-serif;	
	position: absolute;
	resize:none;
}
#fondo legend, label{font-family: "Arial Rounded MT Bold", Monaco, monospace;}
#fondo legend{font-size: 300%;}
#fondo label {display: block; margin: 1em 0 0 0;}
#fondo button {
	float: left;
	position: relative;
	padding-top: 4px;
	padding-bottom: 4px;
	padding-right: 15px;
	padding-left: 15px;
	display: block;
}

/*------------------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------PAGINA CUATRO--------------------------------------------*/
/*------------------------------------------------------------------------------------------------------------*/
#page_four{
	display: block;
	background-color: rgb(230,230,230);
	padding-top: 100px;
	padding-bottom: 100px;
}

/*------------------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------PAGINA CINCO---------------------------------------------*/
/*------------------------------------------------------------------------------------------------------------*/

#page_five{
	display: block;
	background-color: #EDF9EC;
	padding-top: 100px;
}
#information{
	width: 100%;
	height: auto;
	margin-top: 50px;
}
iframe{
	border-top: 4px solid white;
	border-bottom: 2px solid white;
}

.contact{
	display: inline-block;
	width: 33.33%;
	color: white;
	float: left;
	font-family: Century Gothic, sans-serif;
	padding-top: 40px;
	padding-bottom: 50px;
}

.contact h1, .contact p {
	text-align: center;  
	font-size: 1.4em;
	margin: 0;
	padding: 0;
}
.contact h1{ font-size: 7em;}

#phone{background-color: #438bfb;}
#skype{background-color: #10bef2;}
#email{background-color: #00a8ec;}

.numero{
	margin-left: 100px;
	font-size: 5em;
	font-family: Impact;
	color:#333333;
	text-transform: uppercase;
	position: relative;	
}
.rslides {
	position: relative;
	list-style: none;
	overflow: hidden;
	width: 100%;
	padding: 0;
	margin: 0;
	border: 2px solid black;
}
.rslides li {
	-webkit-backface-visibility: hidden;
	position: absolute;
	display: none;
	width: 100%;
	left: 0;
	top: 0;
}
.rslides li:first-child {
	position: relative;
	display: block;
	float: left;
}
.rslides img {
	display: block;
	height: auto;
	float: left;
	width: 100%;
	border: 0;
}
.social{display: none;}

@media only screen and (max-width : 768px){
	nav{
		max-height: 0;
		position: fixed;
		top: 0;
		transition: .6s ease-in-out;
		background:
		radial-gradient(black 15%, transparent 16%) 0 0,
		radial-gradient(black 15%, transparent 16%) 8px 8px,
		radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
		radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
		background-color:#282828;
		background-size:16px 16px;		
		overflow-y: hidden;
		z-index: 102;
		overflow-x: scroll;
		-webkit-overflow-scrolling: touch;
	}	
	nav ul {
		padding-top: 1em;
		border-bottom: 2px solid #ccc;
		text-align: justify;
		width: 35em;
		float: initial;
		padding-left: 2em;
	}
	nav ul:after {
		content: '';
		display: inline-block;
		width: 100%;
	}
	nav ul li {
		background-color: #161616;		
		box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.3), inset 0 -1px 1px rgba(0, 0, 0, 0.3);		
		font-family: arial;
		font-size: 1em;
		padding: 0.6em;
		text-align: center;
		margin-right: 1em;
		display: inline-block;
	}
	nav ul li a {
		color: #ccc;
		display: block;
		text-align: center;
		text-decoration: none;
	}
	nav ul li a:before {
		display: block;
		font-family: FontAwesome;
		font-weight: normal;
		font-size: 2rem;
		font-style: normal;
		text-decoration: inherit;
		vertical-align: top;
		-webkit-font-smoothing: antialiased;
	}
	nav ul li:first-child a:before { content: '\f015'; }
	nav ul li:nth-child(2) a:before { content: '\f05a'; }
	nav ul li:nth-child(3) a:before { content: '\f0C0'; }
	nav ul li:nth-child(4) a:before { content: '\f121'; }
	nav ul li:last-child a:before { content: '\f0e0'; }
	#inicio a, #quienes a, #miembros a, #investigacion a, #contacto a{color: black;}	
	.i { display: none; }
	
	.nav-toggle{
		display: block;
		width: 100%;
		background-color: rgb(90,90,90);
		text-align: right;
		color: white;
		overflow: hidden;
		padding-top: 10px;
		padding-bottom: 10px;
		font-size: 1.5em;
		z-index: 10;
	}
	.nav-toggle i{margin-right: 15px;}
	.nav-toggle i:hover{cursor: pointer;}
	
	.numero{
		padding-top: 20px;
		margin-left: 20px;
		font-size: 2em;
	}
	
	#page_one{padding-top: 20px;padding-bottom: 20px;}
	#page_one img{
		width: 90%;
		margin-left: 5%;
		padding-top: 40px;
	}
	#page_one h1{
		font-size: 2em;
		width: 90%;
		margin-top: 10px;
		margin-left: 7%;
		
	}
	#page_two, #page_tree, #page_four, #page_five{ 
		padding-top: 20px; 
		padding-bottom: 40px;
	}
	#page_five{padding-bottom: 0;}
	#page_two p{
		width: 90%;
		margin-left: 5%;
		margin-top: 20px;
		font-size: 1.5em;
	}
	#page_two div{
		display: inline-block;
		width: 90%;
		margin-left: 5%;
		margin-top: 20px;
	}
	#member-list {
		width: 90%;
		margin-left: 5%;
		margin-top: 10px;
		font-size: 1.2em;
	}
	#members-student, #members-engineer{
		margin-left: 20px;
		margin-top: 10px;
	}	
	#members{
		width: 90%;
		margin-left: 5%;
		margin-top: 20px;
	}
	.contact{
		width: 100%;
		padding-top: 20px;
		padding-bottom: 20px;
		margin-bottom: 0;
	}
	.contact h1, .contact p {
		font-size: 1em;
	}
	.contact h1{ font-size: 5em;}
	#facebook, #twitter, #github, #rss, #blog{display: none;}
	.social{
		display: block;
		background-color: rgb(90,90,90);
	}
	.social div{
		display: inline-block;
		width: 31%;
		text-align: center;
		padding-top: 10px;
		padding-bottom: 10px;
	}
	.social div a{
		text-decoration: none;
		color: white;
		font-size: 2em;
	}
}
@media only screen and (max-width : 480px){

}